.workspace-variables
    .codeflow-options
        table.table.card-table.table-sm.bg-blue
            thead
                tr
                    th.text-left.text-white(colspan=4) Input
                    th.text-right
                        button.btn.btn-white.btn-sm((click)="app().inputs.push({}); service.render();")
                            i.fa-solid.fa-plus
            
        .variables
            table.table.card-table.table-sm
                tbody(*ngIf="app().inputs.length == 0")
                    tr
                        td.pl-2(colspan=5)
                            span.text-muted No input

                tbody([sortablejs]="app().inputs", [sortablejsOptions]="{ animation: 150, handle: '.draggable' }")
                    tr(*ngFor="let obj of app().inputs")
                        td.w-1(style="width: 120px !important;")
                            select.form-select([(ngModel)]="obj.type", (ngModelChange)="service.render()")
                                option(value="variable") Variable
                                option(value="output") Output

                        td.w-1(style="width: 120px !important;")
                            select.form-select([(ngModel)]="obj.inputtype", *ngIf="obj.type == 'variable'", (ngModelChange)="service.render()")
                                option(value="text") Text
                                option(value="textarea") Textarea
                                option(value="password") Password
                                option(value="number") Number
                                option(value="file") File
                                option(value="date") Date
                                option(value="list") List
                        td.w-1
                            input.form-control(style="width: 160px;", placeholder="Input Name", [(ngModel)]="obj.name")
                        td
                            textarea.form-control([attr.placeholder]="obj.inputtype == 'list' ? 'samsung: 005930,\nkakao: 035720' : 'Description'", [(ngModel)]="obj.description")
                        td.w-1.nowrap
                            button.btn.btn-white.btn-sm(style="margin-top: 6px; margin-right: 4px;", (click)="app().inputs.remove(obj); service.render();")
                                i.fa-solid.fa-xmark
                            .draggable.btn.btn-white.btn-sm(style="margin-top: 6px; margin-right: 4px;")
                                i.fa-solid.fa-up-down-left-right

    .codeflow-options
        table.table.card-table.table-sm.bg-blue
            thead
                tr
                    th.w-1.nowrap.text-white(colspan=2) Output 
                    th.w-1.nowrap.text-right
                        button.btn.btn-white.btn-sm((click)="app().outputs.push({}); service.render();")
                            i.fa-solid.fa-plus

        .variables
            table.table.card-table.table-sm
                tbody(*ngIf="app().outputs.length == 0")
                    tr
                        td.pl-2(colspan=5)
                            span.text-muted No Output

                tbody([sortablejs]="app().outputs", [sortablejsOptions]="{ animation: 150, handle: '.draggable' }")
                    tr(*ngFor="let obj of app().outputs")
                        td.w-1
                            input.form-control(style="width: 160px;", placeholder="Output Name", [(ngModel)]="obj.name")
                        td
                            textarea.form-control(placeholder="Description", [(ngModel)]="obj.description")
                        td.w-1.nowrap
                            button.btn.btn-white.btn-sm(style="margin-top: 6px; margin-right: 4px;", (click)="app().outputs.remove(obj); service.render();")
                                i.fa-solid.fa-xmark
                            .draggable.btn.btn-white.btn-sm(style="margin-top: 6px; margin-right: 4px;")
                                i.fa-solid.fa-up-down-left-right