.kernel-selector.area-round
    .kernel-select-box
        h3.text-center Kernel is not started yet
        .text-center.text-muted select and start kernel for use workflow
        .mb-4
        .d-flex
            .dropdown
                button.btn.btn-white.dropdown-toggle((click)="toggle()")
                    span(style="width: 120px; overflow: hidden;", *ngIf="!selected") Select kernel
                    span(style="width: 120px; overflow: hidden;", *ngIf="selected") {{ selected.title }}
                
                .dropdown-menu.dropdown-menu-dark([class.show]="isOpen")
                    .dropdown-item(*ngFor="let spec of list", (click)="select(spec)") {{spec.title}}
            .mr-2
            a.btn.btn-blue((click)="start()")
                i.fa-solid.fa-play.mr-2
                span Start Kernel
        
        a.btn.btn-link.btn-block.mt-3(*ngIf="returnUrl", href="{{returnUrl}}")
            i.fa-solid.fa-circle-chevron-left.mr-2
            span return to workflow list