.workspace-tab.cron-view.area-round
    .workspace-tab-header
        .workspace-tab-header-title
            i.fa-brands.fa-python.mr-2
            span Python Packages
        .ml-auto
        .text-white.close-btn((click)="close()")
            i.fa-solid.fa-xmark
    
    .workspace-tab-body-wrapper
        .workspace-tab-body
            .card.mb-2
                .card-header.p-2
                    input.form-control(placeholder="scikit-learn", [(ngModel)]="query", (keyup.enter)="add()")
                    .mr-2
                    button.btn.btn-blue((click)="add()") Install

            .card.pip-list
                .card-table.table-responsive
                    table.table.table-hover.table-vcenter.table-bordered.mb-0
                        ng-container(*ngFor="let item of list")
                            tr(*ngIf="item.name.toLowerCase().indexOf(query.toLowerCase()) >= 0")
                                th.w-1.nowrap {{item.name}}
                                td.text-muted {{item.version}}
                                td.w-1.nowrap
                                    button.btn.btn-red.btn-sm((click)="remove(item.comment)")
                                        i.fa-solid.fa-trash

    .block-page(*ngIf="loading")
        wiz-component-loading()