.wiz-content-heading {
    .btn {
        min-width: 76px;
        padding: 8px 16px;
        font-weight: 1000;
        border-radius: 24px;
        margin-left: 10px;
    }

    input {
        border-radius: 24px;
        text-align: center;
    }
}

.text-blue {
    color: var(--wc-blue) !important;
}

.wiz-content-body {
    display: flex;
    height: 100%;

    .content-main {
        flex: auto;
        height: 100%;
        overflow: auto;

        @media(max-width:768px) {
            &.m-hidden {
                display: none;
            }
        }
    }

    .content-info {
        width: 640px;
        max-width: 50%;
        background: #fff;
        border-left: 1px solid var(--wc-border);
        border-top: 1px solid var(--wc-border);

        @media(max-width:768px) {
            max-width: 100%;
        }
    }
}

table {

    td,
    th {
        white-space: nowrap;
    }

    tr {
        cursor: pointer;
    }
}

.container {
    padding: 24px 48px;

    @media(max-width:768px) {
        padding: 24px;
    }
}