.selected {
    opacity: 1 !important;
}

.col-md-3 {
    margin-top: 0;
}

.create-tab {
    max-width: 640px;
    background: var(--wiz-color-light) !important;

    .card {
        border-radius: 12px !important;
    }
}


.wiz-modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;

    .modal {
        display: contents;
        width: 420px;
    }
}