.selected {
    opacity: 1 !important;
}

.col-md-3 {
    margin-top: 0;
}

.create-tab {
    max-width: 640px;
    background: var(--wiz-color-light) !important;

    .card {
        border-radius: 12px !important;
    }
}