.login-bg
    .login-box
        .text-center
            img.logo(src='/brand/logo')
        
        .form
            .input-box
                input(type='text', name, required, [(ngModel)]="user.id")
                label User ID
            .input-box
                input(type='password', name, required, [(ngModel)]="user.password", (keyup.enter)="login()")
                label Password
            .text-center
                a((click)="login()")
                    span
                    span
                    span
                    span
                    | Login
