.login-bg
    .login-box
        .text-center
            img(src="/assets/brand/logo.png", class="h-[48px] inline-block")
        
        .form
            .input-box
                input(type='password', name, required, [(ngModel)]="user.password", (keyup.enter)="login()")
                label Password
            .text-center
                a((click)="login()")
                    span
                    span
                    span
                    span
                    | Login
