.monaco-editor .find-widget.visible {
    display: none;
}

.codeflow-selected {
    .monaco-editor .find-widget.visible {
        display: block;
        position: fixed !important;
        top: 39px !important;
        right: 42px !important;
    }
}

.debug-message,
.log-container {

    table {
        vertical-align: top;
        border-color: var(--wiz-color-border);
        caption-side: bottom;
        border-collapse: collapse;
        box-sizing: border-box;
        font-size: 12px;

        th {
            color: var(--wiz-color-text);
            background: var(--wiz-color-light);
            white-space: nowrap;
            text-align: left;
        }

        td {
            white-space: nowrap;
        }

        &>:not(caption)>* {
            border-width: 1px 0;
        }

        &>:not(caption)>*>* {
            border-width: 0 1px;
        }

        th, td {
            padding: 2px 4px;
        }
    }

}