.workspace-tab {
    height: 100%;
    width: 50vw;
    max-width: 720px;
    min-width: 480px;
    display: flex;
    flex-direction: row;
    background: #fff;
    background: var(--wc-background);
    border-left: 1px solid var(--wc-border);
    position: relative;

    &.maximized {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 3000;
        width: 100%;
        max-width: 100%;
        height: 100%;
    }

    .uimode {
        flex: 1;
        display: flex;
        flex-direction: column;
    }

    &.editmode {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 3000;
        width: 100%;
        max-width: 100%;
        height: 100%;

        .uimode {
            max-width: 720px;
            border-left: 1px solid var(--wc-border);
        }

        .code-area {
            width: 100%;
            flex: 1;
            background-color: #fff;
            display: flex;
            flex-direction: column;

            .workspace-tab-header {
                background-color: var(--wc-blue-light);
                border-bottom: 1px solid var(--wc-border);
                color: var(--wc-blue);

                .workspace-tab-header-title {
                    color: var(--wc-blue);
                }
            }

            .code-area-body {
                display: flex;
                width: 100%;
                flex: 1;

                .code-container {
                    flex: 1;
                    border-left: 1px solid var(--wc-border);
                    position: relative;
                    height: 100%;

                    &:first-child {
                        border-left: none;
                    }

                    .code-wrapper {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        top: 0;
                        left: 0;
                        z-index: 3001;
                    }

                    .code-label {
                        position: absolute;
                        right: 12px;
                        bottom: 12px;
                        width: 112px;
                        text-align: center;
                        padding: 4px 8px;
                        border-radius: 8px;
                        background-color: var(--wc-blue-light);
                        color: var(--wiz-color-blue);
                        z-index: 3002;
                    }
                }
            }
        }
    }

    .workspace-tab-header {
        display: flex;
        background: var(--wc-blue);
        padding: 4px 12px;
        height: 40px;
        align-items: center;

        .workspace-tab-header-title {
            color: white;
            font-family: 'wiz-eb';
            font-size: 16px;
        }

        .close-btn {
            font-size: 16px;
            cursor: pointer;
        }
    }

    .workspace-tab-body-wrapper {
        position: relative;
        overflow: hidden;
        width: 100%;
        flex: 1;
    }

    .workspace-tab-body {
        padding: 0;
        height: 100%;
        width: 100%;
        overflow: hidden;

        &::-webkit-scrollbar-track {
            background-color: #fff;
        }

        &::-webkit-scrollbar {
            height: 8px;
            width: 8px;
            background-color: #fff;
        }

        &::-webkit-scrollbar-thumb {
            border-radius: 0;
            background-color: var(--wc-scroll-thumb);
            background-image: -webkit-linear-gradient(45deg,
                    rgba(255, 255, 255, .2) 25%,
                    transparent 25%,
                    transparent 50%,
                    rgba(255, 255, 255, .2) 50%,
                    rgba(255, 255, 255, .2) 75%,
                    transparent 75%,
                    transparent);
        }
    }
}

.no-item {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.upload {
    --background: #FFFFFF;
    --text-drop: #CAC8CA;
    --text-upload: #2D2C2F;
    --progress-color: #E7E5E7;
    --check-color: var(--text-upload);
    --border-radius: 30px;
    width: 300px;
    height: 300px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    &::before {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        background: var(--background);
        border-radius: var(--border-radius);
        transition: all .3s ease-out;
        box-shadow: var(--shadow-x, 0px) var(--shadow-y, 1px) var(--shadow-blur, 3px) rgba(#000, 0.1);
        transform: scale(var(--scale, 1));
    }

    .drop-here {
        position: absolute;
        width: 100%;
        height: 100%;
        outline: none;
        border-radius: var(--border-radius);
        opacity: var(--opacity, 0);
        overflow: hidden;
        cursor: pointer;
        text-indent: -9999px;
        z-index: 1;
    }

    .text {
        position: absolute;
        font-size: 21px;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: bold;

        &.text-drop {
            color: var(--text-drop);
            opacity: var(--opacity, 1);
            transition: opacity .15s ease-out .15s;
        }

        &.text-upload {
            color: var(--text-upload);
            opacity: var(--opacity, 0);
            transition: opacity .15s ease-out;
        }
    }

    .progress-wrapper {
        position: absolute;

        .progress {
            fill: none;
            stroke: var(--progress-color);
            stroke-width: 3;
            stroke-dasharray: 722;
            stroke-dashoffset: 722;
        }
    }

    .check-wrapper {
        position: absolute;
        opacity: var(--opacity, 0);
        transform: scale(var(--scale, .9)) rotate(var(--rotate, 3deg));
        transition: transform .15s ease-in-out, opacity .15s ease-in;

        .check {
            width: 100px;
            width: 100px;
            fill: none;
            stroke: var(--check-color);
            stroke-width: 7;
            stroke-linecap: round;
            stroke-linejoin: round;
            stroke-dasharray: 100 0;
            stroke-dashoffset: 100;
        }
    }

    .shadow {
        opacity: var(--opacity, 0);
        overflow: hidden;
        position: absolute;
        height: 100%;
        width: 100%;
        border-radius: var(--border-radius);
        filter: blur(25px);
        z-index: -1;
        transition: all .5s ease;

        &::before {
            content: '';
            position: absolute;
            top: -25%;
            left: -25%;
            height: 150%;
            width: 150%;
            background: conic-gradient(#4b82d4, #6a29e9, #4b82d4, #6a29e9, #c58357, #FFC940, #4b82d4);
            animation: shadow-animate 5s linear infinite;
        }
    }
}

@keyframes shadow-animate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes progress-animate {
    0% {
        stroke-dashoffset: 722;
    }

    20% {
        stroke-dashoffset: 500;
    }

    50% {
        stroke-dashoffset: 322;
    }

    55% {
        stroke-dashoffset: 300;
    }

    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes check-animate {
    0% {
        stroke-dasharray: 0 100;
        stroke-dashoffset: 0;
    }

    100% {
        stroke-dasharray: 100 0;
        stroke-dashoffset: 100;
    }
}

.block-page {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;

    svg path,
    svg rect {
        fill: #FF6700;
    }
}

iframe {
    width: 100%;
    height: 100%;
}

.btn-group {
    .btn {
        height: 28px;
    }
}