.workspace-tab {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-left: 1px solid var(--wiz-color-border);
    background: var(--wiz-color-light);

    .workspace-tab-header {
        display: flex;
        background: var(--wiz-color-blue);
        padding: 4px 12px;
        height: 40px;
        align-items: center;

        .workspace-tab-header-title {
            color: white;
            font-family: 'wiz-eb';
            font-size: 16px;
        }

        .close-btn {
            font-size: 16px;
            cursor: pointer;
        }
    }

    .workspace-tab-body {
        padding: 16px;
        overflow: auto;

        .card {
            border-radius: 12px;
        }
    }
}

.codeflow {
    .status-indicator-circle {
        --tblr-status-circle-size: 8px !important;
    }

    .codeflow-body {
        padding: 16px;
        overflow: auto;

        .card {
            margin-bottom: 24px;

            .w-96 {
                width: 96px;
            }

            .table {
                th {
                    padding: 4px;

                    .btn {
                        width: 32px;
                        height: 20px;
                    }
                }

                td {
                    padding: 0;

                    .form-selectgroup-item {
                        display: inline-block !important;
                        padding-top: 6px;

                        .form-selectgroup-label {
                            padding: 3px 12px !important;
                            font-size: 12px;
                        }
                    }

                    .form-select {
                        border: none !important;
                        box-shadow: none !important;
                        text-align: left;
                    }

                    .form-control {
                        border: none !important;
                        background: transparent !important;
                        text-align: left;
                        min-height: 32px;

                        &:focus {
                            outline: none !important;
                            box-shadow: none !important;
                        }
                    }
                }
            }

            .codeflow-header {
                display: flex;
                align-items: center;
                padding: 0;
                background: var(--wiz-color-blue-light);
                height: 22px;
                border-bottom: 1px solid var(--wiz-color-border);

                input {
                    background: transparent;
                    border: none;
                    box-shadow: none;
                    flex: auto;
                    margin-right: 4px;
                }

                .badge {
                    height: 21px;
                    border-radius: 0;
                    display: flex;
                    align-items: center;
                    cursor: pointer;
                }

                .btn {
                    font-size: 14px;
                    border-radius: 0;
                }

                .cursor-grab {
                    cursor: grab !important;
                }
            }

            .btn-sm {
                width: 32px;
            }

            .codeflow-options {
                display: none;
            }

            .codeflow-item {
                border-top: 1px solid var(--wiz-color-border);

                .table.card-table.table-sm {
                    display: none;
                }

                .codeflow-codearea {
                    display: flex;

                    .item-body {
                        width: 100%;
                        flex: auto;
                        min-height: 105px;
                    }
                }
            }

            .codeflow-descarea {
                min-height: 80px;
                background: var(--wiz-color-light-1);
            }

            .monaco-editor {
                max-height: 100%;
            }
        }

        .codeflow-actions {
            position: fixed;
            top: 16px;
            right: 16px;
            z-index: 1001;

            .btn {
                border-radius: 100%;
                width: 48px;
                height: 48px;
                font-size: 20px;
            }
        }

        .codeflow-focused {
            .codeflow-codearea {
                position: fixed;
                top: 0;
                left: 0;
                background: #fff;
                z-index: 1000;
                width: 100%;
                height: 100%;
                overflow: hidden;
            }
        }

        .codeflow-selected {
            .codeflow-header {
                background: var(--wiz-color-blue);

                input {
                    color: #fff;
                }

                ::placeholder {
                    color: rgba(255, 255, 255, .5) !important;
                }
            }

            .codeflow-options {
                display: block !important;
            }

            .codeflow-item {
                .table.card-table.table-sm {
                    display: table;
                }

                .codeflow-codearea {
                    border: 3px solid var(--wiz-color-skyblue);
                }
            }
        }
    }
}

.margin-bottom {
    height: 50vh;
}