.wiz-content-layout
    .wiz-content-heading
        .col-auto.pl-3.pr-2
            .text-blue.mr-1(style="font-size: 28px;")
                i.fa-solid.fa-user-shield
        .col
            h2.page-title My Page
            .text-muted
                ul.list-inline.list-inline-dots.mb-0
                    li.list-inline-item change my data

    .wiz-content-body
        .content-main.area-round
            .container(style="max-width: 720px;")
                .card
                    .card-body.p-4
                        .form-group.row.mb-3
                            label.form-label.col-3.col-form-label User ID
                            .col
                                input.form-control(type="text", placeholder="user id", [(ngModel)]="service.auth.session.id" disabled)
                        
                        .form-group.row.mb-3(*ngIf="checked")
                            label.form-label.col-3.col-form-label Username
                            .col
                                input.form-control(type="text", placeholder="John Doe", [(ngModel)]="service.auth.session.username")

                        .form-group.row.mb-3(*ngIf="checked")
                            label.form-label.col-3.col-form-label Email
                            .col
                                input.form-control(type="text", placeholder="user@gmail.com", [(ngModel)]="service.auth.session.email")
                        
                        .form-group.row.mb-3(*ngIf="!checked")
                            label.form-label.col-3.col-form-label Password
                            .col
                                input.form-control(type="password", placeholder="Password", [(ngModel)]="current", (keyup.enter)="update()")

                        .form-group.row.mb-3(*ngIf="checked")
                            label.form-label.col-3.col-form-label Change Password
                            .col
                                input.form-control(type="password", placeholder="Password", [(ngModel)]="password")
                        
                        .form-group.row(*ngIf="checked")
                            label.form-label.col-3.col-form-label Repeat Password
                            .col
                                input.form-control(type="password", placeholder="Repeat Password", [(ngModel)]="repeat_password")
            
                    .card-footer.d-flex.p-2
                        .ml-auto
                        .btn.btn-blue.btn-circle(style="width: 120px;", (click)="update()")
                            i.fa-solid.fa-save.mr-2(*ngIf="checked")
                            span(*ngIf="checked") Update
                            span(*ngIf="!checked") Verify
