.editor-monaco.text-center.p-6(*ngIf="error")
    h2 Not Supported File
    .mt-3
    .btn.btn-blue((click)="download()") Download

.editor-monaco(*ngIf="!error")
    nu-monaco-editor([(ngModel)]="tab.data", [options]="monaco", [height]="'100%'", (event)="init($event)")

.block-page(*ngIf="loading")
    wiz-component-loading()