.workspace-area
    .workspace-list
        .workspace-list-header
            .page-header.d-print-none
                .row.align-items-center
                    .col-auto
                        .text-blue.mr-1(style="font-size: 28px;")
                            i.fa-solid.fa-table-columns
                    .col
                        h2.page-title Dashboard 2
                        .text-muted
                            ul.list-inline.list-inline-dots.mb-0
                                li.list-inline-item system status

                    .col-auto.actions.area-round
                        a.btn.btn-blue((click)="dizest.stop()", *ngIf="false")
                            i.fa-solid.fa-stop.mr-2
                            span Stop All Workflow
        
        .workspace-list-item
            .container.pt-4
                .row.row-deck.row-card.mb-4
                    .col-md-4
                        wiz-component-card-status(title="Development", [items]="status.deploy")
                    
                    .col-md-4
                        wiz-component-card-status(title="System Usage", [items]="status.system")

                    .col-md-4
                        a.info-box(routerLink="/hub/workflow/list")
                            h3.mb-3.text-center.text-dark Active / Total Workflow
                            .text-center
                                b.text-blue(style="font-size: 48px;") {{ status.workflow.alive }}
                                span.mr-2.ml-2.text-muted(style="font-size: 24px;") /
                                b.text-muted(style="font-size: 36px;") {{ status.workflow.total }}

                .row.row-deck.row-cards.mb-4
                    .p-3.col-md-3(*ngFor="let item of status.workflow.data")
                        wiz-component-card-workflow(
                            [title]="item.title", 
                            [updated]="item.updated", 
                            [logo]="item.logo", 
                            [cover]="item.featured", 
                            [status]="item.status", 
                            (click)="select(item)")

    .workspace-tab(*ngIf="selected.id")
        wiz-component-workflow-info([item]="selected", (close)="close($event)")