.workspace-tab {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background: var(--wiz-color-light);

    .workspace-tab-header {
        display: flex;
        background: var(--wiz-color-blue);
        padding: 4px 12px;
        height: 40px;
        align-items: center;

        .workspace-tab-header-title {
            color: white;
            font-family: 'wiz-eb';
            font-size: 16px;
        }

        .close-btn {
            font-size: 16px;
            cursor: pointer;
        }
    }

    .workspace-tab-body-wrapper {
        position: relative;
        overflow: hidden;
        width: 100%;
        flex: 1;
    }

    .workspace-tab-body {
        padding: 16px;
        height: 100%;
        width: 100%;
        position: absolute;
        overflow: auto;

        .card {
            border-radius: 12px;
        }
    }
}

.uimode {
    background: #fff;

    .workspace-tab-body {
        overflow: hidden;
    }

    .spinner-border {
        width: 48px;
        height: 48px;
        border: 6px solid currentColor;
        border-right-color: transparent;
    }

    iframe {
        width: 100%;
        height: 100%;
    }
}

.main-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
}

.maximized {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3000;
}

.code-area {
    background: #fff;
    border-right: 1px solid var(--wiz-color-border);
    display: flex;
    flex-direction: column;

    .workspace-tab-header {
        background: var(--wiz-color-blue-light);
        color: var(--wiz-color-blue) !important;
        height: 40px;
        border-bottom: 1px solid var(--wiz-color-border);

        .workspace-tab-header-title {
            color: var(--wiz-color-blue) !important;
        }
    }

    .code-area-body {
        display: flex;
        width: 100%;
        flex: auto;

        .code-container {
            flex: 1;
            border-left: 1px solid var(--wiz-color-border);
            position: relative;
            height: 100%;

            &:first-child {
                border-left: none;
            }

            .code-wrapper {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                z-index: 3001;
            }

            .code-label {
                position: absolute;
                right: 12px;
                bottom: 12px;
                width: 112px;
                text-align: center;
                padding: 4px 8px;
                border-radius: 8px;
                background-color: var(--wiz-color-blue-light);
                color: var(--wiz-color-blue);
                z-index: 3002;
            }
        }
    }
}

.editmode {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3000;

    .uimode {
        max-width: 720px;
        flex: 1;
    }

    .code-area {
        width: 100%;
        flex: 1;
    }
}