.app {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #fff;

    .app-search {
        display: flex;
        padding: 14px 8px;
        border-bottom: 1px solid var(--wc-border);
        height: 50px;
        background: var(--wc-blue-light);

        .btn,
        .form-control {
            height: 28px;
        }
    }

    .app-list {
        flex: auto;
        height: 100%;
        overflow-y: auto;
        padding-bottom: 120px;

        .no-items {
            font-size: 18px;
            font-weight: 1000;
            color: #555;

            .btn.btn-primary {
                border-radius: 32px;
            }

            i {
                font-size: 48px;
                color: var(--wc-blue);
            }
        }

        .app-category {
            background: var(--wc-light);
            color: var(--wc-text);
            padding: 4px 12px;
            border-bottom: 1px solid var(--wc-border);
            font-size: 14px;
            line-height: 1.2;
        }

        .app-info {
            border-bottom: 1px solid var(--wc-border);
            line-height: 1;
            padding: 8px 16px;
            cursor: grab;
            display: flex;
            align-items: center;

            :active {
                cursor: grabbing;
            }

            &.active {
                background: var(--wc-blue-light);
            }

            .title-area {
                flex: auto;

                .app-header {
                    font-size: 14px;
                    font-weight: 1000;
                    width: 95%;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    border: none;
                    background: transparent;
                }

                .app-namespace {
                    font-size: 12px;
                }
            }

            &:hover {
                background: var(--wc-blue-light);
            }

            .btn {
                width: 24px;
                height: 24px;
                border-radius: 50%;

                i {
                    font-size: 12px;
                    width: 12px;
                    height: 12px;
                }
            }
        }
    }
}