aside.navbar.navbar-vertical.navbar-expand-lg.navbar-side
    .navbar-brand-container
        button.navbar-toggler(type="button", (click)="isMenuCollapsed = !isMenuCollapsed")
            span.navbar-toggler-icon

        a.navbar-brand.p-0.m-0(routerLink='/')
            .text-center
                img.m-0(src='/assets/images/brand/dizest-hub-white.png')

    .collapse.navbar-collapse([ngbCollapse]="isMenuCollapsed")
        ul.navbar-nav
            li.nav-item.nav-item-header Workspace
              
            li.nav-item(routerLink='/hub/dashboard', routerLinkActive="active")
                .d-flex
                    span.nav-icon
                        i.fa-solid.fa-table-columns
                    a.nav-link
                        span.nav-link-title Dashboard
                .nav-indicator
                    span.status-indicator.status-indicator-animated.status-primary
                        span.status-indicator-circle
                        span.status-indicator-circle
                        span.status-indicator-circle

            li.nav-item(routerLink='/hub/workflow/list', routerLinkActive="active")
                .d-flex
                    span.nav-icon
                        i.fa-solid.fa-cubes
                    a.nav-link
                        span.nav-link-title Workflow
                .nav-indicator
                    span.status-indicator.status-indicator-animated.status-primary
                        span.status-indicator-circle
                        span.status-indicator-circle
                        span.status-indicator-circle

            li.nav-item(routerLink='/hub/explore', routerLinkActive="active")
                .d-flex
                    span.nav-icon
                        i.fa-solid.fa-magnifying-glass
                    a.nav-link
                        span.nav-link-title Explore
                .nav-indicator
                    span.status-indicator.status-indicator-animated.status-primary
                        span.status-indicator-circle
                        span.status-indicator-circle
                        span.status-indicator-circle
            
            ng-container(*ngIf="service.auth.allow('admin')")
                li.nav-item.nav-item-header Admin

                li.nav-item(routerLink='/admin/users', routerLinkActive="active")
                    .d-flex
                        span.nav-icon
                            i.fa-solid.fa-users
                        a.nav-link
                            span.nav-link-title Users
                    .nav-indicator
                        span.status-indicator.status-indicator-animated.status-primary
                            span.status-indicator-circle
                            span.status-indicator-circle
                            span.status-indicator-circle
                
                li.nav-item(routerLink='/admin/setting/kernel', routerLinkActive="active")
                    .d-flex
                        span.nav-icon
                            i.fa-solid.fa-microchip
                        a.nav-link
                            span.nav-link-title Kernel
                    .nav-indicator
                        span.status-indicator.status-indicator-animated.status-primary
                            span.status-indicator-circle
                            span.status-indicator-circle
                            span.status-indicator-circle
                

                li.nav-item(routerLink='/admin/setting/database', routerLinkActive="active")
                    .d-flex
                        span.nav-icon
                            i.fa-solid.fa-database
                        a.nav-link
                            span.nav-link-title Database
                    .nav-indicator
                        span.status-indicator.status-indicator-animated.status-primary
                            span.status-indicator-circle
                            span.status-indicator-circle
                            span.status-indicator-circle

                li.nav-item(routerLink='/admin/packages', routerLinkActive="active")
                    .d-flex
                        span.nav-icon
                            i.fa-solid.fa-boxes-packing
                        a.nav-link
                            span.nav-link-title Packages
                    .nav-indicator
                        span.status-indicator.status-indicator-animated.status-primary
                            span.status-indicator-circle
                            span.status-indicator-circle
                            span.status-indicator-circle
                
                li.nav-item(routerLink='/admin/release', routerLinkActive="active")
                    .d-flex
                        span.nav-icon
                            i.fa-solid.fa-book
                        a.nav-link
                            span.nav-link-title Release
                    .nav-indicator
                        span.status-indicator.status-indicator-animated.status-primary
                            span.status-indicator-circle
                            span.status-indicator-circle
                            span.status-indicator-circle
