.app {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;

    .app-search {
        display: flex;
        padding: 14px 8px;
        border-bottom: 1px solid var(--wiz-color-border);
        height: 50px;
        background: var(--wiz-color-blue-light);

        .btn,
        .form-control {
            height: 28px;
        }
    }

    .app-list {
        overflow-y: auto;

        .no-items {
            font-size: 18px;
            font-weight: 1000;
            color: #555;

            .btn.btn-primary {
                border-radius: 32px;
            }

            i {
                font-size: 48px;
                color: var(--wiz-color-blue);
            }
        }

        .app-info {
            border-bottom: 1px solid var(--wiz-color-border);
            line-height: 1;
            padding: 8px 16px;
            cursor: grab;
            display: flex;
            align-items: center;

            :active {
                cursor: grabbing;
            }

            &.active {
                background: var(--wiz-color-blue-light);
            }

            .title-area {
                flex: auto;

                .app-header {
                    font-size: 14px;
                    font-weight: 1000;
                    width: 95%;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    border: none;
                    background: transparent;
                }

                .app-namespace {
                    font-size: 12px;
                }
            }

            &:hover {
                background: var(--wiz-color-blue-light);
            }

            .btn {
                i {
                    font-size: 12px;
                    width: 12px;
                    height: 12px;
                }
            }
        }
    }
}

.wiz-modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);

    .modal {
        display: block;
        position: absolute;
        width: 96%;
        left: 2%;
        top: 10%;
    }
}