.debug-message,
.log-container {

    table {
        vertical-align: top;
        border-color: var(--wc-border);
        caption-side: bottom;
        border-collapse: collapse;
        box-sizing: border-box;
        font-size: 12px;

        th {
            color: var(--wc-text);
            background: var(--wc-light);
            white-space: nowrap;
            text-align: left;
        }

        td {
            white-space: nowrap;
        }

        &>:not(caption)>* {
            border-width: 1px 0;
        }

        &>:not(caption)>*>* {
            border-width: 0 1px;
        }

        th,
        td {
            padding: 2px 4px;
        }
    }

}