.card
    .card-body.p-0.featured-area
        .status-area(*ngIf="status && status != 'stop'", [ngClass]="statusClass[status]")
            span.text-white {{status}}
            
        .img-responsive([ngStyle]="coverStyle")
            svg(viewBox="0 0 16 10")
                rect(width="16" height="10" style="fill:rgba(255,255,255,0);")

    .card-footer
        .avatar-area.avatar-area-sm.mr-3
            .avatar-container
                span.avatar(style="background-image: url({{logo}});")
        .text-area
            h3.card-title.mb-0
                a.text-reset((click)="move(); $event.stopPropagation();") {{ title }}
            small.text-muted {{ updated }}