.workspace-tab.cron-view.area-round
    .workspace-tab-header
        .workspace-tab-header-title
            i.fa-solid.fa-stopwatch.mr-2
            span Timer
        .ml-auto
        .text-white.close-btn((click)="close()")
            i.fa-solid.fa-xmark
    
    .workspace-tab-body-wrapper
        .workspace-tab-body
            .card
                .card-header.p-2
                    input.form-control(placeholder="0 5 * * *", [(ngModel)]="query.time", style="width: 160px;")
                    .mr-2
                    select.form-select([(ngModel)]="query.spec", style="width: 140px;")
                        ng-container(*ngFor="let spec of kernel.list")
                            option([value]="spec.name") {{spec.name}}
                    .mr-2
                    input.form-control(placeholder="comment", [(ngModel)]="query.comment", (keyup.enter)="add()")
                    .mr-2
                    button.btn.btn-blue((click)="add()")
                        i.fa-solid.fa-plus

                .card-body.pb-2.pt-2
                    span.text-muted Timer use system cron. set time and comment for regist timer.

                .card-table.table-responsive
                    table.table.table-hover.table-vcenter.table-bordered.mb-0
                        ng-container(*ngFor="let item of list")
                            tr
                                th.w-1.nowrap {{item.time}}
                                td.text-muted {{item.comment}}
                                td.w-1.nowrap
                                    button.btn.btn-red.btn-sm((click)="remove(item.comment)")
                                        i.fa-solid.fa-trash

                .card-body.p-1