.container {
    background: #fff;
    position: relative;
    padding: 0;
    margin: 0;
    padding-bottom: 12px;
    min-height: 80px;
}

.avatar {
    border-radius: 12px;
}

.btn.btn-blue {
    position: absolute;
    top: 12px;
    right: 16px;
}