header.navbar {
    min-height: auto;
    border-bottom: 1px solid var(--wiz-color-border);
    padding-top: 12px;
    padding-bottom: 12px;

    .container {
        display: block;
    }

    .top-menu {
        display: flex;
        align-items: center;
        justify-content: end;
        padding-bottom: 4px;

        >* {
            margin-left: 12px;
            font-size: 14px;
            color: var(--wiz-color-secondary);
            line-height: 1;
        }

        .dropdown {
            .dropdown-toggle {
                font-size: 13px;
                padding: 0 12px;
                height: 21px;
            }
        }
    }

    .main-menu {
        display: flex;

        .navbar-brand {
            img {
                height: 52px;
            }
        }

        .navbar-menu {
            display: flex;
            flex-direction: column;
            height: auto;
            flex: auto;
            align-items: flex-end;

            .nav-item {
                font-size: 18px;
                min-width: 120px;
                cursor: pointer;

                .nav-link {
                    padding: 6px 16px;

                    .nav-link-title {
                        color: fff;
                    }
                }

                &.active {
                    margin-left: 6px;
                    margin-right: 6px;

                    .nav-link {
                        font-weight: 1000;
                        font-family: 'wiz-eb';

                        .nav-link-title {
                            color: var(--wiz-color-blue);
                        }
                    }
                }
            }

            .nav-items-top {
                display: none;
            }
        }
    }

    @media (max-width: 768px) {
        .main-menu {
            display: block;

            .navbar-toggler {
                display: inline-block;
                margin-right: 12px;
            }

            .navbar-brand {
                display: inline-block;
            }

            .navbar-menu {
                display: block;
            }

            .navbar-menu {
                .nav-items-top {
                    display: block;
                    border-top: 1px solid var(--wiz-color-border);
                    margin-top: 12px;
                    padding-top: 8px;
                }
            }
        }
    }
}