header.navbar.navbar-expand-md
    .container
        .main-menu
            button.navbar-toggler(type="button", (click)="isMenuCollapsed = !isMenuCollapsed")
                span.navbar-toggler-icon

            a.navbar-brand(routerLink="/")
                img(src='/assets/images/logo-black.png')

            .navbar-menu
                .top-menu.if-desktop
                    a.top-menu-item(routerLink="/login") Login
                    .dropdown(ngbDropdown="")
                        .btn.btn-round.dropdown-toggle(type="button" ngbDropdownToggle="dropdown" aria-expanded="false")
                            span dropdown
                        ul.dropdown-menu.dropdown-menu-lg-end(ngbDropdownMenu="")
                            a.dropdown-item(href='') Menu 1
                            a.dropdown-item(href='') Menu 2
                            a.dropdown-item(href='') Menu 3

                .collapse.navbar-collapse([ngbCollapse]="isMenuCollapsed")
                    .container
                        ul.navbar-nav
                            li.nav-item(routerLink='/main', routerLinkActive="active")
                                a.nav-link
                                    span.nav-link-title Main
                            
                            li.nav-item(routerLink='/docs/started', routerLinkActive="active")
                                a.nav-link
                                    span.nav-link-title Docs
