.workspace-area {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;

    .workspace-list {
        height: 100%;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        flex: 1;

        .workspace-list-header {
            padding: 9px 32px;
            border-bottom: 1px solid var(--wiz-color-border);
            background: #fff;

            .page-header {
                margin: 0 !important;

                .actions {
                    padding: 0;

                    @media (max-width: 768px) {
                        display: none;
                    }

                    >* {
                        margin-left: 8px;
                    }

                    .btn {
                        min-width: 76px;
                        padding: 8px 16px;
                        font-weight: 1000;
                        border-radius: 24px;
                    }

                    .btn-group {
                        .btn {
                            border-radius: 0;
                        }

                        .btn.btn-active {
                            background-color: var(--wiz-color-red);
                            color: #ffffff;
                        }

                        .btn:first-child {
                            border-top-left-radius: 24px;
                            border-bottom-left-radius: 24px;
                        }

                        .btn:last-child {
                            border-top-right-radius: 24px;
                            border-bottom-right-radius: 24px;
                        }
                    }
                }
            }
        }

        .workspace-list-item {
            width: 100%;
            flex: auto;
            display: flex;
            overflow: auto;

            .row-deck {
                justify-content: center;

                &>.col,
                &>[class*=col-] {
                    min-width: 280px;
                    max-width: 360px;
                    position: relative;

                    &>* {
                        flex: auto;
                    }
                }
            }

            a.text-reset {
                display: block;
            }
        }

        .workspace-list-pagenation {
            border-top: 1px solid var(--wiz-color-border);
            background-color: #fff;
            height: 42px;
            display: block;
            padding: 9px 0;
        }
    }

    .workspace-tab {
        flex: 1;
        border-left: 1px solid var(--wiz-color-border);
        background: #fff;
        flex-direction: column;
        max-width: 720px;

        .workspace-tab-header {
            display: flex;
            width: 100%;
            height: 36px;
            background: var(--wiz-color-blue);
            color: #fff;
            align-items: center;
            padding: 0 12px;

            h3 {
                margin: 0;
                padding: 0;
            }

            .btn,
            .close-btn {
                cursor: pointer;
            }
        }

        .workspace-tab-footer {
            flex: 1;
            width: 100%;
            height: 42px;
            background-color: #fff;
            border-top: 1px solid var(--wiz-color-border);

            .footer-container {
                width: 100%;
                height: 42px;
            }
        }

        .workspace-tab-body.item-panel {
            flex: auto;
            overflow: auto;
            position: relative;

            .title-area {
                position: sticky;
                top: 0;
                border-bottom: 1px solid var(--wiz-color-border);
                background-color: #fff;

                .title-area-head {
                    background-color: var(--wiz-color-blue);
                    color: white;
                    padding: 10px 0;

                    .card-title {
                        font-size: 18px;
                    }
                }

                .title-area-actions {
                    display: flex;

                    >* {
                        flex: 1;
                        padding: 6px 0;
                        background-color: var(--wiz-color-blue-lt);
                        border-left: 1px solid var(--wiz-color-border);
                        color: var(--wiz-color-blue);
                        cursor: pointer;
                        font-family: 'wiz-eb';

                        &:first-child {
                            border-left: none;
                        }

                        &:hover {
                            background-color: var(--wiz-color-blue-hover);
                            color: #fff;
                        }
                    }
                }
            }

            .info-area {
                width: 100%;
                height: 50px;
            }

            .tab-close-btn {
                width: 32px;
                height: 32px;
                z-index: 10;
                position: absolute;
                top: 10px;
                right: 10px;
                border-radius: 50%;
            }

            .card.card-featured {
                border-radius: 0;
                border: 0;
                position: relative;
                color: white;
                cursor: auto;

                &:hover {
                    box-shadow: none;
                }
            }

            .card-cover:first-child,
            .card-cover:first-child:before {
                padding: 48px 0;
                border-radius: 0;
            }
        }
    }

    @media (max-width: 768px) {
        >* {
            display: none !important;
            border-left: none !important;

            &:last-child {
                display: flex !important;
            }
        }
    }

    .workspace-kernel-selector {
        display: flex !important;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 3000;
        background-color: rgba(0, 0, 0, .7);
        width: 100vw;
        height: 100vh;

        .kernel-select-box {
            background-color: #fff;
            padding: 32px;
            margin: 0 auto;
            border-radius: 24px;
        }
    }
}